@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:slnt,wght@-14..14,100..1000&display=swap');

:root {
  --background: #f3f3f3;
  --foreground: #171717;
  --white: #ffffff;
  --black: #171717;
  --black-1: #434343;
  --black-2: #6d6d6d;
}

*{
  transition: all 0.2s;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.primary-button{
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 2px #0000001b;
}

.primary-button:hover{
  background-color: var(--black-1);
}

.input{
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);
}

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  max-width: 100%;
  background-color: var(--white);
  color: var(--black);
  padding: 0 1rem 1rem 1rem;
  border: 1px solid var(--black);
  border-radius: 0.5rem;
  gap: 1rem;
}

.login-input-label-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.password-input-container{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-radius: 0.3rem;
  border: 1px solid var(--black);
  border-radius: 0.3rem;
  overflow: hidden;
}

.password-input{
  width: 90%;
  height: 100%;
  padding: 0.5rem 1rem;
}

.password-toggle{
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: 0 0 0 1px var(--black);
  cursor: pointer;
}

.checkbox-pill {
  width: 4rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--black-2);
  position: relative;
  cursor: pointer;
}

.checkbox-pill-open{
  background-color: var(--black);
}

.checkbox-toggle{
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  top: 0.35rem;
  left: 0.4rem;
  background-color: var(--white);
  border-radius: 0.2rem;
}

.checkbox-toggle-open{
  transform: translateX(1.8rem);
  /* left: unset;
  right: 0.4rem; */
}