@import "tailwindcss";

:root {
  --background: hsl(0, 0%, 90%);
  --background-2: hsl(0, 0%, 60%);
  --mid: hsl(0, 0%, 60%);
  --foreground: hsl(0, 0%, 8%);
  --foreground-2: hsl(0, 0%, 5%);
  --accent:hsl(258, 51%, 50%);
  --accent-highlight:hsl(258, 51%, 60%);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 8%);
    --background-2: hsl(0, 0%, 5%);
    --mid: hsl(0, 0%, 15%);
    --foreground: hsl(0, 0%, 90%);
    --foreground-2: hsl(0, 0%, 60%);
  }
}


*::-webkit-scrollbar-track
{
  border-radius: 50px;
	background-color: var(--foreground);
}

*::-webkit-scrollbar
{
	width: 5px;
  height: 5px;
  border-radius: 50px;
	/* background-color: var(--foreground-2); */
}

*::-webkit-scrollbar-thumb
{
  border-radius: 50px;
	background-color: var(--mid);
}

*{
  transition: all 0.3s ease;
}

.component-loader {
  width: 10px;
  height: 10px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  display: block;
  margin: -50px auto 0;
  position: relative;
  color: #FFF;
  transform: translateY(30px);
  box-sizing: border-box;
  animation: animloader 2s ease infinite;
}
.component-loader::after,
.component-loader::before {
  content: '';  
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: #FFF;
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloader 2s 0.2s ease infinite;
}
.component-loader::before {
  animation-delay: 0.4s;
  left: 60px;
}

@keyframes animloader {
  0% {
    top: 0;
    color: white;
  }
  50% {
    top: 30px;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    top: 0;
    color: white;
  }
}
    

body {
  background: var(--background);
  color: var(--foreground);
  /* font-weight: 500; */
  position: relative;
}

a,
.link-button{
  text-decoration: underline;
  color: var(--accent);
  cursor: pointer;
}

a:hover,
.link-button:hover{
  color: var(--accent-highlight);
}

.primary-button{
  background-color: var(--foreground);
  color: var(--background);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.primary-button:hover{
  background-color: var(--foreground-2);
}

.secondary-button{
  background-color: var(--background-2);
  color: var(--foreground-2);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--mid);
  cursor: pointer;
}

.secondary-button:hover{
  color: var(--foreground);
  border: 2px solid var(--accent);
}

.input{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--foreground);
  border: 2px solid var(--mid);
}